# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
shrinkenv/
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# CSV log files
track_log.csv

# System files
.DS_Store
Thumbs.db
